@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DVD Emporium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <style>
        .heading-font {
            font-family: 'Orelega One', cursive;
        }

        .font1 {
            font-family: 'Roboto Condensed', sans-serif;
        }

        .font2 {
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand heading-font" asp-area="" asp-controller="Home" asp-action="Index">DVD Emporium</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Studios" asp-action="Index">Studios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Directors" asp-action="Index">Directors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="Identity" asp-page="/Account/RegisterAdmin">New Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Order History</a>
                            </li>
                        }
                        else if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllStudios">All Studios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllDirectors">All Directors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllMovies">All Movies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="OrderHistory">Order History</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllStudios">All Studios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllDirectors">All Directors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllMovies">All Movies</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DVD Emporium
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
